<div style = 'color : #000000!important' class="container">
  <form action="./form.php" method="POST">
    <div class="row">
      <div class="col-25">
        <label for="fname">Login :</label>
      </div>
      <div class="col-75">
        <input type="text" id="pseudo" name="login" placeholder="Login" required>
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="lname">Password :</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="password" placeholder="Password" required>
      </div>
    </div>
       <div class="row">
      <input type="submit" value="connect" style="background-color: black">
    </div>
  </form>
</div>
