h1 {
   color: rgb(240, 173, 49)!important;
   font-size: 3em;
}

p {
    color: rgb(243, 231, 231)!important;
    font-size: 1.5em;
    text-align: center;
}

h2 {
    color: rgb(49, 49, 46)!important;
    background-color: rgb(240, 173, 49);
    text-align: center;
    font-size: 1.5em;
}

form {
    text-align: center;
}

label {
    text-align: center;
}

h3 {
    color: rgb(17, 71, 73)!important;
    font-size: 2em;
}

body {
    height: 80vh;
    width: 100%;
}